<div class="container">
    <div class="well">
      <p class="lead">Welcom to my Registration system made up of the following technologies</p>
        <ul id="left">
            <h4>Server side</h4>
            <li>Node JS</li>
            <li>Express JS</li>
            <li>MySQl Database</li>
        </ul>
        <ul id="right">
            <h4>Client side</h4>
            <li>Express Handlebars</li>
            <li>Bootstrap</li>
            <li>Custom css</li>

        </ul>
    </div>
</div>