<!--    header-showcase-->
<header id="showcase" class="grid">
    <div class="bg-image"></div>
        <div class="content-wrap">
            <h1>Welcome to My portfolio</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias amet architecto atque deleniti,
                dignissimos ducimus exercitationem expedita hic incidunt labore natus neque nisi pariatur quia quis vel vitae! Aut.
            </p>
            <a href="/users/login" class="btn" id="login">Login</a>
            <a href="#section-b" class="btn">Read more</a>
            <a href="/users/signup" class="btn" id="signup">Signup</a>
        </div>

</header>

<!--    main area-->
<main id="main">

<!--    section A-->
    <section id="section-a" class="grid">
        <div class="content-wrap">
            <h2 class="content-title">Web and Application development</h2>
           <div class="content-text">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore esse nihil vero. Ab alias aperiam
                   consectetur delectus explicabo, illum iste non numquam optio perferendis quasi reiciendis rem repellat
                   repellendus sunt, totam voluptas. Asperiores, facilis, obcaecati? Cupiditate maxime optio reiciendis unde!
               </p>
           </div>
        </div>
    </section>

<!--    section B-->
    <section id="section-b" class="grid">
        <ul>
            <li>
               <div class="card">
                   <img src="/images/dish1.jpeg" alt="">
                   <div class="card-content">
                       <h3 class="card-title">Web development</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolores dolorum pariatur
                           qui. Cupiditate deserunt dolor eos iste minima quis?
                       </p>
                   </div>
               </div>
            </li>
            <li>
                <div class="card">
                    <img src="/images/dish2.jpg" alt="">
                    <div class="card-content">
                        <h3 class="card-title">Web development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolores dolorum pariatur
                            qui. Cupiditate deserunt dolor eos iste minima quis?
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <img src="/images/dish3.jpeg" alt="">
                    <div class="card-content">
                        <h3 class="card-title">Web development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dolores dolorum pariatur
                            qui. Cupiditate deserunt dolor eos iste minima quis?
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </section>

<!--    section C-->
    <section id="section-c" class="grid">
        <div class="content-wrap">
            <h2 class="content-title">We handle all your digital needs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid animi atque dicta id, quibusdam
                sapiente ut. Facilis iste, rem!
            </p>
        </div>
    </section>
<!--    section D-->
    <section id="section-d" class="grid">
        <div class="box">
            <h2 class="content-title">Contact us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur dicta dignissimos eum exercitationem
                iusto nobis omnis sit, suscipit voluptas.
            </p>
            <p>contact@websolutions.test</p>
        </div>
        <div class="box">
            <h2 class="content-title">About my company</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur dicta dignissimos eum exercitationem
                iusto nobis omnis sit, suscipit voluptas.
            </p>
        </div>
    </section>
</main>
<!--footer-->
<footer id="main-footer" class="grid">
    <div>
        Antony Injila Web solutions
    </div>
    <div>Project by <a href="">Antony media </a></div>
</footer>